* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #2a2a2a3d;
}
header {
    background-color: gold;
    margin: -8px -8px 0 -8px;
}
header h1 {
    text-align: center;
    color: black;
    text-decoration: underline;
    font-size: 3em;
    margin: 0;
    padding: 5% 0 ;
}
/* texto da pagina */ 
main {
    background-color: white;
    max-width: 1100px;
    margin: auto;
    padding: 5% 20px;
}