@charset "UTF-8"; 
* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
body {
    background-color: dodgerblue;
    color: white;
}

header {
    background-color: #2a2a2a;
    padding: 2% 0;
}
header h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    text-align: center;
    text-decoration: none;
    font-style: italic;
}

#box_paragrafo {
    background-color: orangered;
    max-width: 600px;
    margin: 5% auto;
    padding: 0 20px;
    
}

#box_paragrafo p {
    display: none;
    border-top: 1px solid white;
    padding: 5%;
}

#box_paragrafo h1, p {
    line-height: 1.5em;
}