@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}
:root {
    --PrussianBlue: #212F45; 
    --Midnight: #0B525B;
    --Skobeloff: #006466;  
}

/* cabeçalho e título da pagina */ 
header {
    background-color: var(--PrussianBlue);
    border-bottom: 5px solid #00f3e7;
    padding: 5% 0 ;
}

header > h1 {
    color: white;
    text-shadow: -5px 6px 2px var(--Skobeloff);
    font-size: 2.3em;
    font-style: italic;
    text-align: center;
}

header p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10px;
}

/* estilo do article */ 
article {
    max-width: 1100px;
    margin: auto;
    padding: 10%; 
}

article h2 {
    color: #080f72; 
    font-size: 2em;
    border-top: 2px solid black;
}

article p {
    color: black;
    font-size: 20px;
}