@charset "UTF-8"; 

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../imagens/imagem\ de\ fundo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .9s;
}

h2{
    text-align: center;
    font-size: 3em;

}
/* --------- corpo da pagina */ 
main {
    background-color: #ffffff4b;
    border-radius: 30px;
    max-width: 700px;
    margin: 5% auto;
    padding: 5% 15px;
    transition: .9s;
}

main:hover {
    background-color: #ffffffd0;
}

#img_page {
    max-width: 200px;
    margin: 2% auto;
}

#img_page img {
    display: block;
    margin: auto;
}

.area_input {
    text-align: center;
    max-width: 200px;
    margin: auto;
}

.area_input label {
    font-size: 20px; 
}

.area_input input {
    width: 80px;
    margin: 5px;
}

/* botão do input */ 
#button {
    background-color: #2a2a2a;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 7px;
    transition: .8s;
}

#button:hover {
    transform: scale(0.9);
}

#res_horario {
    text-align: center;
    font-size: 20px;
    padding: 5px;
}

/* --- display flex -------*/ 

.box_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 400px;
    margin: auto;
}

@media screen and (max-width: 900px) {
    body {
        padding-bottom: 100%;
    }
    main {
        margin: 10% auto;
        padding: 5% 20px;
    }
    .area_input {
        margin: 5% auto;
    }
    ul {
        margin: 5% 0;
    }
}