@charset "UTF-8"; 

* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

/* header e título */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
header h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 3px;
    font-size: 3em;
    text-decoration: underline 1px;
    margin-right: 40px;
}


main {
    margin: 5% 0;
}

#menu ul {
    display: none;
    list-style-type: none;
    position: absolute;
    top: 65px;
    right: 1%;
    background-color: #222222;
}

#menu li {
    text-align: center;
    line-height: 3em;
}

#menu a {
    color: white;
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 100px;
    transition: all .8s;
}

#menu a:hover {
    transform: translateX(0.3em);
}


#btn_menu {
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 26px;

}

.hide {
    display: none;
}


/* estilização do conteiner */ 

#conteiner {
    background-color: #cccccc;
    color: rgb(46, 46, 46);
    position: relative;
    height: 36px;
    max-width: 500px;
    margin: 10px auto;
    padding: 10px;
    transition: all .9s;
}

#conteiner h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

#conteiner p {
    opacity: 0;
    display: block;
    line-height: 1.4em;
    font-size: 20px;
    padding: 10px;
    transition: all .8s;
}


#flex_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btn_mostrar {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
}