@charset "UTF-8"; 

body {
    background-color: dodgerblue;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white; 
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px #0000004d;
}

div {
    text-align: center;
    padding: 7px;
}

footer {
    text-align: center;
    color: white;
    font-style: italic;
}