@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

:root {
    --azul-escuro: #027373; 
    --azul-medio: #04ADBF; 

}

/* header da pagina */ 
header {
    background-color: white;
    padding: 1% 0;
}

header h1 {
    text-align: center;
}
/* body da pagina */ 

body {
    background-color: var(--azul-escuro);
}

/* calculadora js */ 

form#calculadora_form {
    max-width: 400px;
    margin: 3% auto;
}

fieldset {
    background-color: white;
    border: none;
    border-top: 20px solid #2a2a2a;
    border-radius: 30px;
    padding: 20px 20px;
}

input {
    width: 80px;
    text-align: center;
    margin: 5px 0;
}

input.botao_calcular {
    background-color: #2a2a2a;
    color: white;
    box-shadow: 0px 2px 7px black;
    border-radius: 30px;
    padding: 3px 4px;
    transition: .8s;
}

input.botao_calcular:hover {
    transform: scale(0.9);
}

#legend {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px 0;
}

#historico {
    background-color: #027373d2;
    text-align: center;
    border-radius: 40px;
    width: 40%;
    padding: 3px;
    margin: 2% 0;
}


/* teste de mostrar cores ao clicar */ 

article#box_cores {
    background-color: white;
    padding: 5% 0;
}

article#box_cores h2 {
    text-align: center;
    font-size: 2.3em;
}

div#conteiner_div {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 20px;
    max-width: 500px;
    margin: 4% auto;
}

div#conteiner_div div{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    margin: auto;
    transition: .8s;
}

/* area de cores do div */ 

#mostrar_cor01 {
    background-color: purple;
}

#mostrar_cor03 {
    background-color: dodgerblue;
}

#mostrar_cor05 {
    background-color: orangered;
}