@charset "UTF-8"; 

* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

/* ----- cabeçalho da pagina ------ */ 

header {
    background-color: #202124;
    color: #00e9ab; 
    padding: 1% 0;
}

header h1 {
    padding-left: 30px;
}

/* corpo da pagina */ 

body { 
    background-color: #00e9ab;
}

main {
    background-color: white;
    box-shadow: 5px 5px 10px #000000aa; 
    border-radius: 20px;
    max-width: 800px;
    margin: 30px auto;
    padding: 30px 25px;
}

#assunto h2 {
    color: #2d312fb8;
    background-color: #8f8f8f10;
    font-size: 2em;
    padding-left: 10px;
    margin-bottom: 10px;
}

#assunto p {
    font-size: 20px;
}

#conteiner_opcoes h3{
    margin: 20px 0 10px 0;
}

/* flex da pagina */ 
.flex_opcoes {
    display: grid;
    grid-template-columns: auto 500px; 
    grid-gap: 10px;
}
.flex_opcoes div {
    margin: 0 10px;
}


div#respostas p {
    font-size: 17px;
}


/* input`s */ 

div#opcoes {
    background-color: #8f8f8f10 ;
    width: 200px;
    padding: 10px;
}

div#opcoes input {
    margin: 5px 0 ;
}

#button {
    padding: 4px;
    transition: .8s;
}

#button:hover {
    transform: scale(0.8);
}