@charset "UTF-8"; 

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222222;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.conteinar_divs {
    background-color: #7f00f6;
    max-width: 800px;
    padding: 40px 20px;
    margin: 40px auto;

}

.conteinar_divs div {
    background-color: white;
    padding: 5px 10px ;
    margin: 20px;
}

.conteinar_divs div h2 {
    font-size: 27px;
    margin-bottom: 7px;
}

.conteinar_divs div p {
    display: none;
    font-size: 20px;
    padding: 10px;
}

#text_oque_e,
#text_utilizar,
#text_regras {
    display: none;
}


#cont_oque_e,
#cont_utilizar,
#cont_regras {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.btn_mostrar {
    cursor: pointer;
    font-size: 20px;
    background: none;
    border: none;
}