@charset "UTF-8"; 

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/* ------ cabeçalho da pagina ------- */ 

header {
    padding: 3% 0;
}

header h1 {
    color: white;
    text-align: center;
    font-size: 3em;
}


/* -------- section e body da pagina ------------*/ 

body {
    background-color: #490985c7;
}

section#conteiner {
    background-color: white;
    max-width: 700px;
    margin: auto;
    padding: 30px 15px;
    border-radius: 30px;
    box-shadow: 5px 5px 15px #0000009a;
}

div {
    max-width: 400px;
    margin: auto;
}

p#msg {
    text-align: center;
}

/* -------- inout`s ------- */ 

input {
    margin: 10px 0 ;
}

select {
    display: block;
    width: 200px;
}

