@charset "UTF-8"; 

* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

/* --- cabeçalho da pagina --- */

header {
    background-color: #0571d6;
    color: white;
    text-align: center;
    padding: 10px;
} 

header h1 {
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    letter-spacing: 4px;
}

.res_tema {
    background-color: rgba(0, 0, 0, 0.616);
    margin: auto;
    font-style: italic;
    display: none;
    width: 300px;
    font-size: 20px;
    border-radius: 40% 0;
    letter-spacing: 9px;
    margin-top: 10px;
    padding: 3px 10px;
}

/* --- body e section  --- */
section input {
    background-color: white;
    border: 1px solid #909090;
}
/* --- corpo e conteúdo da pagina --- */

section#conteiener_div  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

section#conteiener_div .verificador, .contador, .tabuada { /*todos os div`s*/
    background-color: white;
    box-shadow: 0px 0px 10px #000000b0;
    border-radius: 20px;
    width: 370px;
    max-height: 450px;
    padding: 30px 20px;
    margin: 40px 5px;
    transition: all .8s;
}

/* estilizaççao de todos h2 e p */ 
div.verificador h2, p, .contador h2, p, .tabuada h2, p {
    text-align: center;
}

div.verificador h2, .contador h2, .tabuada h2 {
    color: #2c2b2b;
    font-size: 1.9em;
    margin-bottom: 7px;
}

div.verificador p, .contador p, .tabuada p {
    font-size: 18px;
    margin-bottom: 10px;
}


/* ------------ verificador de idade ------------ */ 

#dados_verificar {
    display: block;
    margin-top: 20px;
    
}

#dados_verificar label {
    font-size: 20px;
}

#dados_verificar input {
    margin: 7px 0;
}

#ano_nasc {
    outline: none;
    padding: 3px;
    transition: all .4s;
}

#ano_nasc:hover {
    transform: translateX(0.6em);
}


/* ------------ Contador completo ------------ */ 

#dados_contar {
    width: 370px;
    max-width: 400px;
    background-color: white;
}

#dados_contar label {
    font-size: 20px;
}

#dados_contar .num_contagem {
    outline: none;
    padding: 2px;
    margin: 5px 0 ;
}

/* ------- tabuada automática -------- */ 

#dados_tabuada label {
    font-size: 20px;
}

#dados_tabuada #numtab {
    outline: none;
    padding: 2px;
    margin:5px 0;
}

select { 
    display: none;
    padding: 5px;
}

select option {
    margin: 2px 0;
}
/* style dos botões */ 


.btn_conteiner {
    background-color: #383838;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0px 0px 10px #00000054;
    padding: 4px 10px;
    transition: all .8s;
}

.btn_conteiner:hover {
    box-shadow: 0px 0px 20px #000000b6;
}


@media screen and (max-width: 1100px) {
    section#conteiener_div .verificador, .contador, .tabuada {
        margin: 10px 10px;
        padding: 10% 10px ;
    }
}

@media screen and (max-width: 400px) {
    img {
        display: block;
        margin: auto;
        width: 50%;
    }
}