@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --cor-fundo: #2C4699; 
    --cor-secundária: #7725CF; 
}   

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* -------- cabeçalho da pagina ---------- */ 

header {
    background-color: #353535;
    padding: 2% 0;
}

header h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 2.5em;
    text-align: center;
    text-decoration: 1px underline #ffffff85;
    text-shadow: 0px 2px 2px #000000;
}

/* ------ estilo do corpo e main */ 

body {
    background-image: linear-gradient(to left, var(--cor-secundária), var(--cor-fundo));
}

main {
    background-color: white;
    box-shadow: 0px 3px 24px black;
    max-width: 900px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    padding:  30px 0 7% 0;
}

div.conteiner_pessoas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 400px;
    margin: 5% auto 0 auto;
}

div.conteiner_pessoas div {
    flex: 1 1 200px;
}

div.conteiner_pessoas div label {
    font-size: 18px;
    border-bottom: 4px solid var(--cor-fundo);
}

div.conteiner_pessoas div input {
    padding: 2px 5px;
    margin: 10px 0;
}

article#acoes {
    padding: 0 20px;
}
article#acoes h2{
    text-align: center;
    color: var(--cor-fundo);
    font-size: 2em;
}

/* botao da pagina de escolhas */ 

#botao_escolhas {
    background-color: var(--cor-secundária);
    color: white;
    display: block;
    margin: 30px auto 0 auto;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 3px 10px black;
    padding: 10px;
    transition: .8s;
}

#botao_escolhas:hover {
    transform: scale(0.9);
    box-shadow: 0px 3px 60px var(--cor-fundo);
}

/*  imagem */ 

div#imagem_pessoa {
    width: 200px;
    margin: auto;
}

div#imagem_pessoa > img {
    display: block;
    text-align: center;
    margin: auto;
}

li {
    font-size: 18px;
    font-weight: bold;
}

.aviso {
    color: #000000a3;
    font-size: 13px;

}

@media screen and (max-width: 500px) {

    header h1 {
        font-size: 1.6em;
        padding: 0 20px;
    }

    div.conteiner_pessoas {
        max-width: 250px;
        margin: auto;
    }

    .label_input {
        margin-top: 20px;
    }
}