@charset "UTF-8"; 

* {
    padding: 0; 
    margin: 0; 
    list-style-type: none; 
    font-family: sans-serif; 
}; 

:root {
    --cor_principal: #0A58BF; 
    --cor_secundaria: #044D8C ;
    --titulos: #0F71F2;  
}

/* --- cabeçalho da pagina ------ */

header {
    background-color: #d4d4d4; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 70px;
}

header h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2c2a2aaf;
    text-decoration: underline 1px;
    font-style: italic;
}

.icons_header ul {
    display: flex;
}

.icons_header li {
    margin: 0 10px;
}

#menu_mobile {
    display: none;
}

/* ----- asisde da pagina ------ */ 

#nav_lateral {
    background-color: #bebebe;
    padding: 40px 2px ;
    box-shadow: 1px 1px 20px rgba(66, 66, 66, 0.205);
    width: 50px;
    transition: all .7s;
}

#menu_aside {
    display: none;
}

#menu_aside a {
    background-color: #4d4c4cf8;
    color: white;
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 10px;
    margin: 20px 0 ;
    transition: all .8s;
}

#menu_aside a:hover {
    background-color: #2e7ac2;
}

#button_menu {
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 5px;
    font-size: 25px;
    margin: 10px; 
}

/* conteiner main - design */ 

main {
    border-radius: 20px;
    padding: 20px;
}

.titulo_main {
    color: #0A58BF;
    font-style: italic;
}

#conteiner_main {
    display: table;
}
.table_row {
    display: table-row;
}

aside, main {
    display: table-cell;
}

/*
#conteiner_main aside {
    width: 330px;
}
*/
#hea_main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 40px;
}

#hea_main div {
    margin: 0 20px ;
}

#hea_main h2 {
    font-size: 2em;
    margin-bottom: 10px;

}

#hea_main p {
    max-width: 800px;
    font-size: 20px;
}

/* --- box funcional - opções */ 

#box_funcional {
    display: block;
    max-width: 600px;
    margin-left: 30px;
}

#box_funcional .opcoes_mostrar {
    display: block;
    background-color: #c8c8c8;
    box-shadow: 1px 5px 5px #42424221;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
}

#box_funcional h2 {
    margin-top: 10px;
    font-size: 1.6em;
    color: #4f0abf;
    margin-bottom: 10px;
}

#box_funcional p {
    color: black;
    font-size: 20px;
    line-height: 1.5em;
    display: none;
}

.header_boxs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_boxs img {
    cursor: pointer;
}

footer {
    background-color: #1d1d1dd3;
    color: white;
    text-align: center; 
    padding: 10px;
} 


@media screen and (max-width: 850px) {
    /*quebra de design */
    aside {
        display: none;
    }
    main {
        padding: 2px;
    }
    /* box "header" */ 
    #hea_main {
        padding: 20px 0 ; 
    }

    #hea_main img {
        margin: 20px;
    }

    #img_programacao {
        display: block;
        margin: auto;
        max-width: 80%;
    }

    /* box funcional */ 

    #box_funcional {
        margin: 5px;
    }

    /* ------------ menu bobile -------- */

    #menu_mobile {
        display: block;
    }

    #btn_mobile {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 30px;
    }

    .top_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    #list_menu_mobile {
        background-color: #242424;
        position: absolute;
        display: none;
        width: 100%;
        top: 63px;
        right: 0;
        padding: 20px;
    }   

    #list_menu_mobile li {
        text-align: center;
        margin: 1px 0 ;
    }

    #list_menu_mobile a {
        color: white;
        text-decoration: none;
        text-align: center;
        display: block;
        font-size: 20px;
        padding: 40px 0;
        transition: all .7s;
    }  
    
    #list_menu_mobile a:hover {
        background-color: #d7d7d82d;
    }
}